[Unit]
Description=Disintegration Tester (DT-CFR) kiosk API (Flask)
After=network-online.target local-fs.target media-usb_internal.mount kiosk-internal-usb-mount.service udisks2.service
Wants=network-online.target media-usb_internal.mount kiosk-internal-usb-mount.service udisks2.service

[Service]
Type=simple
User=rle
Group=rle
Environment=PYTHONUNBUFFERED=1
Environment=APP_ROOT=/opt/kiosk
Environment=INTERNAL_USB_PATH=/media/usb_internal
Environment=STORAGE_DIR=/media/usb_internal/storage
Environment=REPORTS_DIR=/media/usb_internal/reports
Environment=AUDIT_DB_DIR=/media/usb_internal/db
Environment=INTERNAL_USB_UUIDS=752a2820-c257-43cd-a2eb-fb52adca9fc2
Environment=INTERNAL_USB_UUID=752a2820-c257-43cd-a2eb-fb52adca9fc2
Environment=ESP_PORT=/dev/serial0
Environment=ESP_BAUD=9600
Environment=DT_HARDWARE_MOCK=0
Environment=THERMAL_PORT=/dev/ttyAMA3
Environment=A4_PORT=/dev/ttyAMA4
Environment=BIOMETRIC_PORT=/dev/ttyAMA5
WorkingDirectory=/opt/kiosk

ExecStartPre=/usr/bin/env bash /opt/kiosk/scripts/kiosk_pre_start_port.sh
ExecStartPre=/usr/bin/env bash /opt/kiosk/scripts/kiosk_udisks2_preflight.sh
ExecStartPre=/usr/bin/env bash /opt/kiosk/scripts/kiosk_mount_internal_usb.sh
ExecStartPre=/usr/bin/env bash /opt/kiosk/scripts/kiosk_wait_internal_usb.sh
ExecStartPre=/usr/bin/env bash /opt/kiosk/scripts/kiosk_rtc_boot.sh

ExecStart=/usr/bin/env bash /opt/kiosk/run_hardness_bridge.sh
Restart=always
RestartSec=3

StandardOutput=append:/home/rle/kiosk_bridge.log
StandardError=append:/home/rle/kiosk_bridge.log

[Install]
WantedBy=multi-user.target
